@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
/* share style start */
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    max-width: 73.125rem;
}
.btn-primary{
    padding: 1rem 2.5rem;
    background: #FF5400;
    border-radius: 0.5rem;
    max-width: 11rem;
    /* height: 3.25rem; */
    border: none;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}
.primary-p{
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 2rem;
}
/* share style end */

/* banner section start */
#banner{
    background-image: url(../images/group13.png);
    max-width: 73.125rem;
    height: 31.25rem;
    border-radius: 1rem;
    margin: 0 auto;
}
.banner-text{
    text-align: center;
    padding: 6.625rem 11.6875rem;
}
.banner-text h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner-text p {
    color: #FFF;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-top: 1.5rem;
}
.banner-input{
    background: rgba(255, 255, 255, 0.30);
    text-align: center;
    max-width: 48rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;

}
.banner-input input, select{
    width: 11rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 1rem;
}

/* banner section end */

.tour{
    display: flex;
    max-width: 73.125rem;
    margin: 6.25rem auto;
    justify-content: space-between;
    text-align: justify;
    gap: 3.3125rem;
}
.tour h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.tour li{
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 1.5rem;
}
.choose img{
    max-width: 4rem; 
}
.choose-text{
    text-align: center;
}
.choose-text h2{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.choose-text p{
    max-width: 40.18rem;
}
.choose-option{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.choose-option-hotel{
    max-width: 35rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}
.choose-option-map{
    max-width: 35rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem;
}
.choose-option-best{
    max-width: 35rem;
    margin-top: 1.5rem;
    margin-bottom: 7.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 2rem;
}
.news{
    display: flex;
    justify-content: space-between;
}
.newsletter{
    padding: 2.5rem;
}
.newsletter h3{
    margin-bottom: 1rem;
}
.newsletter hr{
    margin-bottom: 1.5rem;
}
.newsletter input{
    border: none;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem 15rem 1rem 1rem;
    margin-bottom: 1rem;
}
.newsletter button{
    margin: 0 auto;
    border-radius: 0.5rem;
    background: #FF5400;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 10.2rem;
    color: #FFF;
    font-size: 1.0rem;
    font-weight: 800;
}
.photo{
    margin-bottom: 6.25rem;
}
footer{
    background: rgba(19, 19, 24, 0.05);
}
.icon-text{
    padding: 6.25rem;
    text-align: center;
    
}
.icon-text h3{
    display: inline;
    font-size: 2rem;
    font-weight: 800;
}
span{
    color: #FF5400;
}
footer img{
    max-width: 1.5rem;
}
.icon{
    display: flex;
    justify-content: space-between;
    padding: 0 30rem;
    margin-bottom: 3rem;
}
.last{
    text-align: center;
    margin: 2rem;
}

@media screen (max-width: 567px) {
    
}



